@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Poppins:wght@300;400;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::selection {
    @apply bg-primary text-white;
  }
}

@layer components {
  .container-lg {
    @apply max-w-[1440px] mx-auto px-4;
  }

  .container-sm {
    @apply max-w-[1140px] mx-auto px-4;
  }

  .glass {
    position: absolute;
    border-radius: 10px;
    z-index: 0;
  }
}

@layer utilities {
  .open-navbar {
    background-color: white;
  }

  .open-nav {
    opacity: 1 !important;
    top: 0vh !important;
  }

  .glass-lg {
    width: 100px;
    height: 100px;
  }

  .glass-sm {
    width: 50px;
    height: 50px;
  }

  .type-1 {
    transform: rotate3d(1.5, -1, 1, 69deg);
    box-shadow: 6px 9px 15px 0px #9ce3ed;
    transition: top 250ms;
  }

  .type-2 {
    box-shadow: -3px 3px 8px 0px #adf2f5cf;
    pointer-events: none;
  }

  .type-3 {
    backdrop-filter: drop-shadow(4px 4px 10px blue) !important;
  }

  .animated {
    animation: bounce 18s infinite ease;
  }

  .custom-shadow {
    box-shadow: 0 10px 35px 0px #cfe7e7;
  }

  .custom-hover {
    translate: 0px -5px;
    transition: box-shadow 0.25s ease, translate 0.25s ease;
  }

  .custom-hover:hover {
    translate: 0px 0px;
    box-shadow: none;
  }

  .custom-font {
    font-family: "Libre Baskerville", serif;
  }

  .outlines:not(.outlines:last-of-type):before {
    content: "";
    position: absolute;
    top: 26px;
    left: 12.5px;
    bottom: calc(-1 * 32px);
    width: 1px;
    background-color: #d0c9ff;
  }
}

@keyframes bounce {
  0% {
    translate: 0;
  }

  30% {
    translate: 0 -10px;
  }

  50% {
    translate: 0 4px;
  }

  70% {
    translate: 0 -15px;
  }

  100% {
    translate: 0;
  }
}
